body {
    background-color: rgb(227, 218, 230);
}

h1 {
     color: rgb(155, 66, 147);
     background-color: rgb(162, 158, 172);
     font-family: times new roman;
     font-weight: bold;
}

h3 {
     color: rgb(146, 70, 140);
     background-color: rgb(234, 234, 240);
     font-family: times new roman;
     font-weight: bold;
}
img{
    width:100% ;
    height:100%;
}
.active, .panel:hover{
    border-color:#0BADA6;
    border-style: solid; 
    
}
.vizualization{
    width:50% ;
    height:50% ;
}
}

p {
   font-family: sans-serif;
   font-size: 12
}
/* Title Class  */
.title{
  color: rgb(124, 66, 116);  
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder; 
  padding-top: 10px; 
}
/* Media Queries */
@media(max-width: 992px){
    .navbar-expand-lg{
    background-color: rgb(131, 61, 108) !important;
    }
    .navbar{
        max-height: none; 
        padding: inherit;
    }
    .navbar div{
        margin: inherit; 
        background-color: rgb(139, 139, 151);  
    }
    .navbar-brand{
        padding: 10px !important; 
    }
    
    button{
        margin-right: 30px; 
    }
    button:focus {
    
        outline: 1px dotted;
        outline: 5px auto -webkit-focusring-color;
        
        }
    }
